@font-face {
    font-family: CMU; 
    src: url('fonts/cmunorm.ttf'); 
} 

* {
    /* font-family: sans-serif; */
    font-family: CMU;
    color: whitesmoke;
    background-color: transparent;
}

html {
    margin: 0px;
    background-color: #000;
}

body {
    /* background-color: rgb(12, 12, 12); */
    margin: 0px;
    padding-top: 10px;
    height: max-content;
    background: 
        radial-gradient(circle at left 0% top 0%,rgba(17, 17, 17, 0.521), rgb(0, 0, 0));
}


#top {
    /* position: absolute; */
    background-color: #53b2ff;
    background-image: 
        linear-gradient(to left,#6d53ff, #0a91ff);
    height: 100px;
    min-width: calc(100% - 40px);
    max-width: 100%;
    width: auto;
    border-radius: 25px;
    padding-top: 1px;
    box-shadow: 0px 0px 10px #4449;
    margin-bottom: 20px;
}

#content {
    padding-left: calc(5% - min(50vh, 50vw));
    height: 1000px;
    width: min(100vh, 100vw);
    justify-content: center;
}

#title {
    color: whitesmoke;
    margin: 10px;
    margin-left: 50px;
    font-size: 50pt;
}

#logo {
    float: right;
    margin: 10px;
    width: 80px;
    height: 80px;
    background-color: #fffa;
    border-radius: 40px;
}


#topbar {
    width: min-content;
    height: min-content;
    border-radius: 0px 30px 30px 0px;
    background-color: #ffffff05;

    padding: 15px;
    font-weight: bolder;
    font-size: 40pt;
    margin-bottom: 20px;
    text-align: end;;
    box-shadow: 5px 5px 10px #00000033;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 255, 174, 0.384);
    border-bottom: 0;
    border-left: 0;
}

img {
    width: 200px;
}

#bar > a {
    float: right;
    padding: 10px;
}

.container {
    background-color: #111;
    padding: 30px;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin-bottom: 20px;
}

main > div {
    background-color: #ffffff05;
    /* background-color: #111; */
    padding: 30px;
    box-shadow: 5px 5px 10px #00000033;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 255, 174, 0.384);
    border-radius: 30px;
    /* border-top: 0px; */
    border-bottom: 0px;
    min-width: 75%;
}

.litem {
    border-left: 0px solid transparent;
    border-radius: 0 30px 30px 0;
    grid-column-start: 1;
    grid-column-end: 4;
}

.litem > p {
    text-align: right;
}

.ritem {
    border-right: 0px solid transparent;
    border-radius: 30px 0px 0px 30px;
    grid-column-start: 2;
    grid-column-end: 5;
}

.infopanel {
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ffffff03;
    width: 500px;
    text-align: center;
}

.bs {
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #000;
}

#ai1 {
    float: left;
    width: 500px;
    margin-right: 30px;
}

#space {
    float: right;
    width: 500px;
    margin-left: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #000;
}

footer {
    color: #ddd;
    background-color: #111;
    position: relative;
    justify-self: end;
    height: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 30px;
}